@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(to top left, #cc732f 0%, #e6af1a 100%);
	flex-direction: column;
	overflow-x: hidden !important;
}

body,
footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	color: white;
	border: none;
	text-align: center;
	margin: auto;
}

h1 {
	color: #19357d;
	padding: 5px;
	font-family: "Orbitron", monospace;
	font-size: 35px;
}

.calculator {
	padding: 10px;
	border-radius: 1em;
	height: 380px;
	width: 400px;
	margin: auto;
	background-color: #191b28;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input[type="text"] {
	background-color: #dcdbe1;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 2px 4px;
	width: 100%;
	height: 70%;
	font-size: 28px;
	font-family: "Orbitron", monospace;
}

input[type="button"] {
	background-color: #64278f;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 8px 2px;
	width: 100%;
	height: 70%;
	font-size: 24px;
	font-family: "Orbitron", monospace;
	outline: none;
}

footer {
	flex-direction: column;
	font-family: monospace;
	font-size: 18px;
}

.footer-sect {
	margin-bottom: 10px;
}

.footer-sect img,
.footer-sect p {
	float: left;
}

a {
	color: #19357d;
}

.footer-sect img {
	height: 25px;
	margin: 2px 5px 0 0;
}

@media screen and (max-width: 480px) {
	.calculator {
		height: 320px;
		width: 300px;
	}
}
